:root{
    --white:#fff;
    --baby-blue:#7DEDE2;
    --black:#000000;
    --black-light:#363636;
    --green-light:#2AC496;
    --green-regular:#63C7A9;
    --green-bold:#58B790;
    --gray-extra-light:#F0F0F2;
    --gray-light:#d6d6d6;
    --gray-regular:#b2b2b2;  
    --gray-bold:#707070;
}